.card {
  background-color: rgb(19, 19, 19);
  height: 270px;
  overflow: hidden;
  z-index: 1;
}

.card:hover {
  transform: scale(1.1);
  transition: 0.15s ease;
  cursor: pointer;
}

.top-img {
  display: block;
  width: 180px;
  z-index: 1;
}